*{
    font-family: sans-serif;
}
.enc{
    display: flex;
    margin: auto;
    margin-top: 50px;
}
.enc h1{
    color: rgb(0,0,80);
    font-size: 22px;
    margin: auto;
    display: flex;
    align-items: center;
    
}
.enc img{
    width: 50px;
    height: 30px;
    margin-left: 10px;
}
nav{
    margin: auto;
    margin-top: 30px;
    box-shadow: 0 0 4px 0;
    border-radius: 15px;
    width: 97%;
    height: 310px;
    text-align: center;
    
}
.in{
   text-align: center;
}
.in input{
    border: none;
    border-bottom: 1px solid rgb(200,200,200);
    width: 90%;
    height: 40px;
}
.in label{
    font-size: 12px;
    display: flex;
    margin-left: 20px;
    margin-top: 15px;
}
.checkbox{
    display: flex;
    width: 50px;
    margin-left: 20px;
    margin-top: 10px;
}
.checkbox label{
    font-size: 12px;
    color: rgb(0,0,150);
}
.buttom{
    text-align: center;
    margin-top: 10px;
}
.buttom input{
    background-color: rgb(0,0,100);
    color: rgb(255,255,255);
    border: none;
    width: 120px;
    height: 30px;
}
nav a{
    text-decoration: none;
    margin-top: 20px;
    color: rgb(0,0,150);
}
.img{
    width: 100%;
    margin-top: 10px;
}
.img img{
    width: 100%;
    height: 350px;
}