body{
	background-color: rgb(0,0,0);
}
.encabezado {
	display: flex;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height: 100%;
	background-color: rgb(50,50,50);
}
.encabezado img{
	border-radius: 100%;
	width: 150px;
	height: 150px;
	display: flex;
	margin: 10px;
}
.sub {
	background-color: rgb(255,0,0);
	display: flex;
}
.sub h3{
	text-align: center;
	color: rgb(255,255,255);
	margin: 50px 5px 50px 5px;
}
.encabezado h2{
	border-left: 10px;
	margin: auto;
	margin-left: 10px;
	margin-top: 70px;
	color: rgb(255,255,255);
}
.contenedor1 {
	display: flex;
}
.contenedor1 img{
	width: 70%;
	margin: auto;
	margin-top: 100px;
	filter: drop-shadow(10px 10px 10px rgb(0,0,0));
}
form {
	align-items: center;
	margin-top: 100px;
	margin-left: 20px;
}
form img{
	width: 150px;
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	filter: drop-shadow(10px 10px 10px rgb(0,0,0));
}
form h2{
	color: rgb(150,30,255);
	text-align: center;
	font-size: 50px; 
}
.form_section0 {
	display: flex;
	margin-top: 50px;
	align-items: center;

}
.form_section0 p{
	color: rgb(255,255,255);
	font-size: 50px;
	margin: auto;
	
}
.form_section {
	display: flex;
	align-items: center;

}
.form_section input{
	width: 60px;
	height: 60px;
	margin: auto;
}
.form_section1 {
	align-items: center;
	display: flex;
	margin-top: 50px;
}
.form_section1 input{
	width: 800px;
	height: 100px;
	margin: auto;
	border: 2px solid rgb(150,30,255);
	border-radius: 15px; 
	font-size: 50px;
	text-align: center;
}
.form_section2 {
	align-items: center;
	text-align: center;
	margin-top: 45px;
}
.form_section2 input{
	width: 400px;
	height: 100px;
	margin: auto;
	background-color: rgb(150,30,255);
	border-radius: 15px; 
	font-size: 50px;
	text-decoration: none;
	color: rgb(2555,255,255);
	text-align: center;
	padding: 10px 10px 10px 10px;
}
.info{
	border: 1px solid rgb(255,255,255);
}
.info h2{
    font-size: 40px;
}
.info-1{
	border: 1px solid rgb(255,255,255);
	margin-top: 20px;
}
.info-1 h2{
    font-size: 38px;
	color: antiquewhite;
}
.contenedor-2{
	display: flex;
	margin: auto;
	margin-top: 70px;
	align-items: center;
	width: 100%;
}
.provident{
	display: flex;
	margin-top: 30px;
	align-items: center;
	width: 100%;
}
.provident img{
	width: 100px;
	height: 100px;
	margin: 0;
	margin: auto;
	margin-bottom: 10px;
}
.provident a{
    color: antiquewhite;
	font-size: 30px;
	text-decoration: none;
}
.chace{
	display: flex;
	margin-top: 30px;
	margin-left: 10px;
	align-items: center;
	width: 100%;
}
.chace img{
	width: 100px;
	height: 100px;
	margin: 0;
	margin: auto;
	margin-bottom: 10px;
}
.chace a{
    color: antiquewhite;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
}
.ftb{
	display: flex;
	margin-top: 30px;
	align-items: center;
	width: 100%;
}
.ftb img{
	width: 100px;
	height: 100px;
	margin: 0;
	margin: auto;
	margin-bottom: 10px;
}
.ftb a{
    color: antiquewhite;
	font-size: 30px;
	text-decoration: none;
}
.boa{
	display: flex;
	margin-top: 30px;
	align-items: center;
	width: 100%;
}
.boa img{
	width: 100px;
	height: 100px;
	margin: 0;
	margin: auto;
	margin-bottom: 10px;
}
.boa a{
    color: antiquewhite;
	font-size: 30px;
	text-decoration: none;
}
.pnc{
	display: flex;
	margin-top: 30px;
	align-items: center;
	width: 100%;
}
.pnc img{
	width: 200px;
	height: 60px;
	margin: 0;
	margin: auto;
	margin-bottom: 10px;
	
}
.pnc a{
    color: antiquewhite;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	margin-top: 40px;
}
.conenedor3{
    display: flex;
}
.conenedor3 h3{
    color: antiquewhite;
	font-size: 30px;
}

