body {
	background-color: rgb(0,0,0);
}
.encabezado {
	display: flex;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height: 100%;
	background-color: rgb(50,50,50);
}
.encabezado img{
	border-radius: 100%;
	width: 150px;
	height: 150px;
	display: flex;
	margin: 10px;
}
.sub {
	background-color: rgb(255,0,0);
	display: flex;
}
.sub h3{
	text-align: center;
	color: rgb(255,255,255);
	margin: 50px 5px 50px 5px;
}
.encabezado h2{
	border-left: 10px;
	margin: auto;
	margin-left: 10px;
	margin-top: 70px;
	color: rgb(255,255,255);
}
.contenedor1 {
	display: flex;
}
.contenedor1 img{
	filter: drop-shadow(10px 10px 10px rgb(0,0,0));
	width: 70%;
	margin: auto;
	margin-top: 100px;
}
.contenedor2 {
	display: flex;
	width: 70%;
	margin: auto;
	margin-top: 70px;
	background-color: rgb(255,0,0); 
	text-align: center;
}
.contenedor2 h1{
	color: rgb(255,255,255);
	font-size: 62px;
	margin: auto;
}
.continer {
	display: flex;
	margin-top: 80px;
}
.contenedor3 {
	border: 6px solid red;
	background-image: url(fondo.jpg);
	border-radius: 15px;
	width: 45%;
	margin: auto;
	filter: contrast(1.6);
}
.contenedor3 img{
	width: 60%;
	margin: auto;
	margin-top: 30px;
	display: flex;
	filter: drop-shadow(10px 10px 10px rgb(0,0,0));
}
.contenedor3 h1{
	color: rgb(255,0,0);
	text-align: center;
	font-size: 90px;
	filter: drop-shadow(10px 10px 10px rgb(0,0,0));
}
.contenedor3 h2{
	color: rgb(255,0,0);
	text-align: center;
	font-size: 80px;
	margin-top: 20px;
	filter: drop-shadow(10px 10px 10px rgb(0,0,0));
}
.contenedor3 a{
	color: rgb(0,220,0);
	font-size: 67px;
	display: flex;
	width: 70%;
	margin: auto;
	padding: 12px;
	margin-bottom: 30px;
	border-radius: 30px;
	text-decoration: none;
	border: 6px solid rgb(0,220,0);
	filter: drop-shadow(10px 10px 10px rgb(0,0,0));
}
b{
	margin: auto;
}
.contenedor4 {
	border: 6px solid red;
	background-image: url(fondo.jpg);
	border-radius: 15px;
	width: 45%;
	margin: auto;
	filter: contrast(1.6);
}
.contenedor4 img{
	width: 60%;
	margin: auto;
	margin-top: 30px;
	display: flex;
	filter: drop-shadow(10px 10px 10px rgb(0,0,0));
}
.contenedor4 h1{
	color: rgb(255,0,0);
	text-align: center;
	font-size: 90px;
	filter: drop-shadow(10px 10px 10px rgb(0,0,0));
}
.contenedor4 h2{
	color: rgb(255,0,0);
	text-align: center;
	font-size: 80px;
	margin-top: 20px;
	filter: drop-shadow(10px 10px 10px rgb(0,0,0));
}
.contenedor4 a{
	color: rgb(0,220,0);
	font-size: 67px;
	display: flex;
	width: 70%;
	margin: auto;
	padding: 12px;
	margin-bottom: 30px;
	border-radius: 30px;
	text-decoration: none;
	border: 6px solid rgb(0,220,0);
	filter: drop-shadow(10px 10px 10px rgb(0,0,0));
}
.contenedor5 {
	background-color: rgb(0,0,0);
	margin: 16% 0px 30px 0px;
}
.contenedor5 img{
	margin: auto;
	color: rgb(255,255,255);
	display: flex;

}
.contenedor5 h2{
	color: rgb(200,200,255);
	font-size: 30px;
	margin: 20px 5px 20px 5px;
	text-align: center;
	padding: 10px;
}
.contenedor5 b{
	color: rgb(255,0,0);
	font-size: 50px;
	margin: 20px 5px 20px 5px;
	text-align: center;
	padding: 10px;
}