body{
	background-color: rgb(0,0,0);
	margin-top: 0px;
}
.encabezado {
	display: flex;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: rgb(50,50,50);
}
.encabezado img{
	border-radius: 100%;
	width: 150px;
	height: 150px;
	display: flex;
	margin: 10px;
}
.sub {
	background-color: rgb(0,200,0);
	display: flex;
	width: 50px 5px 50px 5px;
	padding: 25px;
}
.sub h3{
	text-align: center;
	color: rgb(0,0,0);
	margin: auto;
	font-size: 25px;
}
.encabezado h2{
	border-left: 10px;
	margin: auto;
	margin-left: 10px;
	margin-top: 70px;
	color: rgb(255,255,255);
}
.contenedor1 {
	display: flex;
}
.contenedor1 img{
	width: 70%;
	margin: auto;
	margin-top: 100px;
	filter: drop-shadow(10px 10px 10px rgb(0,0,0));
}
.contenedor2 {
	display: flex;
}
.contenedor2 a{
	width: 400px;
	height: 80px;
	padding-top: 20px;
	margin: auto;
	margin-top: 100px;
	text-decoration: none;
	font-size: 50px;
	background-color: rgb(0,200,0);
	text-align: center;
	color: rgb(0,0,0);
}
.contenedor3 {
	display: flex;
}
.contenedor3 h1{
	width: 900px;
	height: 80px;
	padding-top: 20px;
	margin: auto;
	margin-top: 100px;
	text-decoration: none;
	font-size: 30px;
	background-color: rgb(0,200,0);
	text-align: center;
	color: rgb(0,0,0);
	align-content: center;
	}


